
body{
font-family:verdana;
background-image: linear-gradient(#F0F8FF, #1E90FF, #20B2AA 100%);
background-attachment: fixed;
width:1000px;
margin:0 auto;
} 

h1 {
  text-align:center;
  text-transform:uppercase;	
  color:#1C1C1C;
  font-family:"Trebuchet MS";
  font-size:50px;
  letter-spacing:10px; 
}

h2 {
  text-align:center; 
  font-size:30px;
  color:black;
  font-family:"Tahoma";
}

p {
  text-align:left;
  font-size:16px;
  color:#5F04B4;
  font-family:"Arial";

}

table {
  text-align:left;
  font-size:16px;
  color:#5F04B4;
  font-family:"Arial";

}

form {
  text-align:left;
  font-size:16px;
  color:#5F04B4;
  font-family:"Arial";

}

a:link{color:white;}
a:active{color:white;}
a:hover{color:#00FFFF;}
a:visited{color:white;}

