
<%= stylesheet_link_tag "estilo.css" %>
<h1>Bienvenidos a Tweeting</h1>
<p>Por: Alvaro Rameau - Rafael Martinez</p>
<%= link_to 'Crear Usuario', new_user_path %>
<%= link_to 'Listado de Usuarios', users_path %>
<%= link_to 'Buscar Usuarios', buscar_usuario %>




